  <div class="navbar-ember">
    <ul>
      <li>
        <%= link_to journeys_path, class: "#{'active' if controller_name == 'journeys' && action_name == 'index'}" do %>
        <i class="far fa-image" style="font-size: 20px;"></i><% end %></li>
      <li>
        <%= link_to items_path, class: "#{'active' if controller_name == 'items' && action_name == 'index'}" do %><i class="fas fa-search"></i><% end %></li>
      <li>
        <%= link_to journeys_path, class: "#{'active' if controller_name == 'journeys' && action_name == 'main'}" do %><i class="fab fa-gripfire" style="font-size: 23px;"></i><% end %></li>
      <li>
        <%= link_to journeys_path, class: "#{'active' if controller_name == 'journeys' && action_name == 'map'}" do %><i class="fas fa-globe-europe"></i><% end %></li>
      <li>
        <%= link_to edit_settings_path, class: "#{'active' if controller_name == 'settings' && action_name == 'edit'}" do %><i class="fas fa-cog"></i><% end %></li>
    </ul>
  </div>
</div>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Edit user", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Change settings", edit_settings_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
