 <div class="card-body">
  <%= link_to item_path(item) do %>
    <% if item.type == "Picture" %>
      <%= cl_image_tag item.photo.key, class: "photo" %>
    <% elsif item.type == "Video" %>
      <p>VIDEO</p>
      <%= cl_video_tag item.video_rec.key, controls: true, class: "photo" %>
    <% elsif item.type == "Audio" %>
      <p>AUDIO</p>
      <%= cl_video_tag item.audio_rec.key, controls: true, class: "photo" %>
    <% elsif item.type == "Note" %>
      <div class="card-body">
        <%= item.content %>
      </div>
    <% end %>
  <% end %>
</div>
