<p>Type: <%= @item.type %></p>
<p>Content: <%= @item.content %></p>
<p>Comment: <%= @item.comment %></p>
<p>Tags: <%= @item.tag_list %></p>
<div class="btn btn-primary">
  <%= link_to "Back", journey_path(@item.journey) %>
</div>
