<!-- Modal -->
<div class="modal fade" id="exampleModalCenter<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

        <div type="button" class="item-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>

      <div class="modal-body">
        <div class="card-body">
          <% if item.type == "Picture" %>
            <%= cl_image_tag item.photo.key, transformation: [{quality: "auto"}], class: "photo" %>
          <% elsif item.type == "Video" %>
            <%= cl_video_tag item.video_rec.key, transformation: [{quality: "auto"}], controls: true, class: "photo" %>
          <% elsif item.type == "Audio" %>
            <%= cl_video_tag item.audio_rec.key, transformation: [{quality: "auto"}], controls: true, class: "photo" %>
          <% elsif item.type == "Note" %>
            <div class="card-body">
              <%= item.content %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
