<h1>Ember</h1>


 <div class="choose_action">
  <% if @current_journey %>
  <li class="action">
    <%= link_to "Continue Journey", journey_path(@current_journey), class: "btn btn-primary" %>
    <i class="fas fa-camera" aria-hidden="true"></i>
    <%= link_to new_journey_audio_path(@current_journey) do %><i class="fas fa-microphone" aria-hidden="true"></i><% end %>
    <%= link_to new_journey_note_path(@current_journey) do %><i class="fas fa-pencil-alt" aria-hidden="true"></i><% end %>
  </li>
  </div>
  <% end %>
  <li class="action">
    <%= link_to "Create New Journey", new_journey_path, class: "btn btn-primary" %>
  </li>
    <li class="action">
    <%= link_to "Journey Albums", journeys_path, class: "btn btn-primary" %>
  </li>
</div>
<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>

<div class="d-none">
<%= simple_form_for [@current_journey,@picture], remote: true do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Save' %>
<% end %>
</div>
