<div class="container">
  <h4><%= @journey.title %> <%= @journey.start_date %> <%= @journey.end_date %></h4>
  <div class="row">
    <div class="col-6 card-boarders">
      <% @journey.items.each do |item| %>
        <%= render "journeys/journey_modal", item: item %>
         <%= render "items/tags_modal_form", item: item %>
        <div class="card">
          <div data-toggle="modal" data-target="#exampleModalCenter<%= item.id %>">
            <% if item.type == "Picture" %>
              <%= cl_image_tag item.photo.key, class: "photo" %>
            <% elsif item.type == "Video" %>
              <p>VIDEO</p>
              <%= cl_video_tag item.video_rec.key, controls: true, class: "photo" %>
            <% elsif item.type == "Audio" %>
              <p>AUDIO</p>
              <%= cl_video_tag item.audio_rec.key, controls: true, class: "photo" %>
            <% elsif item.type == "Note" %>
              <div class="card-body">
                <%= item.content %>
                </div>
              </div>
            <% end %>
            <div class="row row-main">
            <p class="main-icons inline">
              <i class="fas fa-tags" data-toggle="modal" data-target="#tagsModalCenter<%= item.id %>"></i>
              </p>
              <p class="main-icons inline">
                <% if policy(item).destroy? %>
                <%= link_to item_path(item), method: :delete, data: { confirm: "Are you sure you wanna destroy it?" } do %>
                <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            </p>
            </div>
          </div>
        <% end %>
      <br>
      <br>
    </div>
    <div class="ibtn"><%= link_to "Go back", journeys_path %></div>
  </div>
  <br>
  <br>
</div>

