<div class="container">
  <div class="journeys-body">
    <div class="row">
     <div class="col-xs-12 col-sm-6">
      <div class="journeys-header-card" style="width: 100%;">
        <h2><%= @journey.title %></h2>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="card">
            <p class="card-title"><%= @journey.title %></p>
            <p class="card-text"><%= @journey.start_date %></p>
            <p class="card-text"><%= @journey.end_date %></p>
            <div class="btn btn-primary"><%= link_to "Go back", journeys_path %></div>
          </div>
        </div>
      </div>
      <div>
        <% @journey.items.each do |item| %>
          <%= link_to item_path(item) do %>
            <div class="card card-body" style="width: 18rem;">
              <p><%= item.type %></p>
              <p>**Show only the type and a background image/color?**</p>
            </div>
          <% end %>
        <% end %>
      </div>
     </div>
    </div>
  </div>
</div>
