<div class="container">
  <h4><%= @journey.title %> <%= @journey.start_date %> <%= @journey.end_date %></h4>
  <div class="row">
    <div class="col-12 card-boarders">
      <% @journey.items.each do |item| %>
        <%= render "journeys/journey_modal", item: item %>
        <div class="card">
          <div data-toggle="modal" data-target="#exampleModalCenter<%= item.id %>">
            <% if item.type == "Picture" %>
              <%= cl_image_tag item.photo.key, class: "photo" %>
            <% elsif item.type == "Video" %>
              <p>VIDEO</p>
              <%= cl_video_tag item.video_rec.key, controls: true, class: "photo" %>
            <% elsif item.type == "Audio" %>
              <p>AUDIO</p>
              <%= cl_video_tag item.audio_rec.key, controls: true, class: "photo" %>
            <% elsif item.type == "Note" %>
              <div class="card-body">
                <%= item.content %>
              </div>
            <% end %>
          </div>
        </div>
        <%# = render partial: 'items/item', locals: { item: item } %>
      <% end %>
      <br>
      <br>
      <div class="btn btn-form" style="padding-left: 15px;"><%= link_to "Go back", journeys_path %></div>
    </div>
  </div>
  <br>
  <br>
</div>
